<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- 네트워크 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- 푸시 알림 (Android 13+ 런타임 권한) -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <!-- 사진 선택/EXIF: Android 13+는 READ_MEDIA_IMAGES, 12 이하는
         READ_EXTERNAL_STORAGE. ACCESS_MEDIA_LOCATION은 EXIF GPS 좌표 접근용. -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>
    <!-- ⚠️ READ_MEDIA_VISUAL_USER_SELECTED는 일부러 선언하지 않는다. 선언하면
         photo_manager(3.9.0)가 Android 14+에서 "partial 접근" 모드로 판단해,
         이 권한이 미허용이면 READ_MEDIA_IMAGES가 full grant여도
         requestPermissionExtend()가 denied를 반환 → 사진 그리드가 통째로 비어
         버린다. 선언을 빼면 READ_MEDIA_IMAGES 기준으로 authorized가 나와 정상
         동작. (부분 접근 UX보다 full-access 정상 동작이 우선) -->
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"/>
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION"/>

    <application
        android:label="Scenes"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme"/>
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- Kakao OAuth callback (KakaoTalk app 또는 webview). scheme은 kakao{NATIVE_APP_KEY}. -->
        <activity
            android:name="com.kakao.sdk.flutter.AuthCodeCustomTabsActivity"
            android:exported="true">
            <intent-filter
                android:label="flutter_web_auth">
                <action
                    android:name="android.intent.action.VIEW"/>
                <category
                    android:name="android.intent.category.DEFAULT"/>
                <category
                    android:name="android.intent.category.BROWSABLE"/>
                <data
                    android:scheme="kakao49345eb4969f4d9834180b3afa18789f"
                    android:host="oauth"/>
            </intent-filter>
        </activity>
        <!-- image_cropper(UCrop) 크롭 화면. 이 선언이 없으면 아바타/커버 사진
             크롭 진입 시 ActivityNotFoundException으로 앱이 터진다. -->
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <!-- 합성한 공유 영상을 Instagram 스토리 등 외부 앱에 content:// URI로
             넘기기 위한 FileProvider (VideoComposerPlugin.shareToInstagramStory). -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2"/>
    </application>
    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <intent>
            <action
                android:name="android.intent.action.PROCESS_TEXT"/>
            <data
                android:mimeType="text/plain"/>
        </intent>
        <!-- KakaoTalk 앱 설치 감지 -->
        <package
            android:name="com.kakao.talk"/>
        <!-- Instagram 스토리 공유(ADD_TO_STORY) resolveActivity용 — Android 11+
             패키지 가시성 제한 때문에 명시 필요. 없으면 IG 설치돼도 안 보여
             항상 unavailable로 fallback된다. -->
        <package
            android:name="com.instagram.android"/>
    </queries>
</manifest>